<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>-->
  
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="">>
                <img src="/assets/chiringuito.jpg" alt="logo" width="100px"> JUGONES
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/estadios">Estadios </a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/equipos">Equipos</a>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/paises">Países </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/jugadores">Jugadores</a>
                        </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <!--Carrousel-->


  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/camp_nou.jpg" class="d-block w-100" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Camp Nou</h3>
        <p>Estadio del FC Barcelona.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/parcprin.jpg" class="d-block w-100" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Parc Des Princes</h3>
        <p>Estadio del Paris Saint Germain.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/messi.jpg" class="d-block w-100" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Lionel Messi</h3>
        <p>Jugador argentino del PSG.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/grealish.jpg" class="d-block w-100" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Jack Grealish</h3>
          <p>Jugador inglés del Manchester City.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/cr7.jpg" class="d-block w-100" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Cristiano Ronaldo</h3>
          <p>Jugador portugués del Manchester United.</p>
        </div>
    </ng-template>
  </ngb-carousel>

    <div id="app"></div>
    <!-- built files will be auto injected -->

    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

          <!-- Right -->
          <div>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
              </a>
              <a href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i>
              </a>
          </div>
          <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
          <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                      <!-- Content -->
                      <h6 class="text-uppercase fw-bold mb-4">
                          <i class="fas fa-gem me-3"></i>JUGONES
                      </h6>
                      <p>
                          Página especializada y adicta al fútbol de todo el mundo.
                      </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">
                          Ofrecemos:
                      </h6>
                      <p>
                          <a routerLink="/equipos" class="text-reset">Equipos</a>
                      </p>
                      <p>
                          <a routerLink="/estadios" class="text-reset" >Estadios</a>
                      </p>
                      <p>
                          <a routerLink="/paises" class="text-reset">Jugadores</a>
                      </p>
                      <p>
                          <a routerLink="/jugadores" class="text-reset">Países</a>
                      </p>
                  </div>
                  <!-- Grid column -->

                  <!-- Grid column -->
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                      <!-- Links -->
                      <h6 class="text-uppercase fw-bold mb-4">
                          Contacto
                      </h6>
                      <p><i class="fas fa-home me-3"></i> Quito,Ecuador</p>
                      <p>
                          <i class="fas fa-envelope me-3"></i> aaanrangos@gmail.com josumolina@gmail.com
                      </p>
                      <p><i class="fas fa-phone me-3"></i> + 593 99 464 6061</p>
                      <p><i class="fas fa-print me-3"></i> + 593 99 882 0719</p>
                  </div>
                  <!-- Grid column -->
              </div>
              <!-- Grid row -->
          </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2022 Copyright
      </div>
      <!-- Copyright -->
  </footer>
