<div class="container text-center">
  
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">>
            <img src="/assets/chiringuito.jpg" alt="logo" width="100px"> JUGONES
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/estadios">Estadios </a>                        
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/equipos">Equipos</a>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/paises">Países </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/jugadores">Jugadores</a>
                    </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
  </nav>

    <br/><h1>Registrar Equipo</h1><br/><br/>

    <h5>Nombre del equipo:</h5>
    <input type="text" 
    class="form-control" 
    id="nombreEquipo" 
    required 
    placeholder="Ej. Futbol Club Barcelona" 
    [(ngModel)]="equipo.nombre_equipo" 
    name="nombre"/><br/><br/>

    <h5>Estadio:</h5>
    <select [(ngModel)]="equipo.cod_estadio" class="form-control" placeholder="Escoja una opción..." required >
        <option disabled value="">-Seleccione uno-</option>    
        <option *ngFor="let es of estadio" [value]="es.cod_estadio">{{es.nombre_estadio}}</option>
      </select> 
    <br/><br/>

    <h5>Pais:</h5>
    <select [(ngModel)]="equipo.cod_pais" class="form-control" placeholder="Escoja una opción..." required >
        <option disabled value="">-Seleccione uno-</option>    
        <option *ngFor="let pa of pais" [value]="pa.cod_pais">{{pa.nombre_pais}}</option>
      </select> <br/><br/>
    <br/><br/>

    <button class="btn btn-success" (click)="crearEquipo()">💾 Registrar</button>&nbsp;&nbsp;
    <button class="btn btn-success" (click)="navegarEquipos()">🔙 Regresar</button><br/><br/>
</div>